@keyframes flipit {  /* non js implemented */
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
@keyframes fadeFromBottom { /* non js implemented */
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeFromTop { /* non js implemented */
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#home {
    /* background-image: url(/static/images/homebg.jfif); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* filter: brightness(50%); */
    position: relative;
    color: var(--head-text);
}
#home2 {
    backdrop-filter: brightness(90%);
    padding: 0px 20%;
}
#c {
    z-index: -999;
    position: absolute;
}

.navbar {
    background-color: transparent!important;
    border: none!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    backdrop-filter: blur(20px);
    animation: fadeFromTop 0.7s ease-out;
    /* padding: 1% 10%; */
}
.navbar-nav{
    flex-grow: 1!important;
}
.nav-link {
    /* border: 3px solid transparent; */
    padding-right: 5%!important;
    padding-left: 5%!important;
    /* border-width: 0px 0px 3px 0px; */
    /* transition: all 0.3s ease; */
    position: relative;
    color: var(--main-text);
}
.nav-link:hover, .nav-link:focus {
    /* border-color: var(--pink-color); */
    color: var(--main-text);
    cursor: none!important;
}
.nav-link::after, #top-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-image: var(--pink-gradient);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); /* ease-out-back */
}
.nav-link:hover::after, #top-name:hover::after, #top-name:focus::after  , .nav-link:focus::after {
    transform: scaleX(1);
    width: 100%;
}

#top-name {
    font-family: helveticabold;
    font-size: 1.2rem;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}
#explore {
    color: var(--head-text);
    border-color: var(--head-text);
}
#home-text{
    filter: brightness(100%);
    animation: fadeFromBottom 0.7s ease-out;

}
#mid-name {
    position: relative;
}
#duplicate-mid-name {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    color: var(--cursor-cover-color)!important;
    z-index: -1;
    padding: 0%;
}
#duplicate-mid-name span {
    z-index: 1;
    display: inline-block;
    animation: flipit 0.4s infinite alternate;
}
@media (min-width: 768px) {
    #duplicate-mid-name span, #mid-name span {
        margin-right: 1rem;
    }
}
@media (min-width: 1280px) {
    #duplicate-mid-name span, #mid-name span {
        margin-right: 1.5rem;
    }
}
@media (max-width: 768px) {
    #duplicate-mid-name span, #mid-name span {
        margin-right: .7rem;
    }
}
@media (max-width: 576px) {
    #duplicate-mid-name span, #mid-name span {
        margin-right: .5rem;
    }
}
.fade-from-bottom {
    opacity: 1;
}

.navbar-toggler {
    border: none;
    color: var(--main-text);
}
.navbar-toggler:focus , .navbar-toggler:focus-visible {
    box-shadow: none;
}
.navbar-toggler:focus , .navbar-toggler:focus-visible , .navbar-toggler:hover {
    color: var(--pink-color);
}
#nav-menu-switch {
    color: inherit;
    border-color: inherit;
}