@keyframes hintToScrollLeft {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fromRightCenter {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromLeftTop {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes fromRightTop {
    0% {
        transform: translateX(50%) translateY(-50%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0) scale(1);
        opacity: 1;
    }
}

@keyframes rotateFromCenter {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

#works {
    height: auto;
}
#libraryapi {
    background-image: var(--blue-yellow-gradient);
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
}
#libraryimg {
    /* border : 1px solid #F3EDE9; */
    border-radius: .3rem;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    /* transition: all .3s ease-in-out; */
    /* border-width: 1px 0px 1px 1px; */
    box-shadow: 0px 5px 25px var(--image-shadow-color), -5px -5px 25px var(--image-shadow-color), 0px 5px 25px var(--image-shadow-color);
}
#pizza {
    height: auto;
    overflow-y: visible;
}

#networkimg1 {
    border-radius: .3rem;
    box-shadow: 0px 10px 25px var(--image-shadow-color);
}

#network {
    background-image: var(--green-gradient);
}
.pizzaimgs {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.pizzaimgs::-webkit-scrollbar {
    display: none;
}
.pizzaimg {
    /* width: 360px; */
    border-radius: 0.3rem;
    box-shadow: 0px 5px 5px var(--image-shadow-color), 0px -5px 5px var(--image-shadow-color);;    
}

.pgimg {
    border-radius: .3rem;
}

#pgimg1 {
    box-shadow: -10px 10px 25px var(--image-shadow-color);
}
#pgimg2 {
    box-shadow: 10px 10px 25px var(--image-shadow-color);
}

.from-right-center {
    opacity: 0;
}

.from-left-top {
    opacity: 0;
}

.from-right-top {
    opacity: 0;
}
.rotate-from-center {
    opacity: 0;
}