@font-face {
    font-family: helveticabold;
    src: url(/fonts/helvetica-w01-bold.ttf);
}
@font-face {
    font-family: helveticalight;
    src: url(/fonts/helvetica-w01-light.ttf);
}
body {
    font-family: helveticalight;
}
#homebg {
    height: 100%;
    min-width: 100%;
    background-color: #000;
    filter: brightness(60%);
    z-index: -1;
    position: relative;
}
.navbar-brand {
    color: #F3EDE9!important;
}
.nav-link {
    color: #F3EDE9!important;
}
#name {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    color: #F3EDE9;
    padding: 11%;
}
#actualname {
    font-family: helveticabold;
    letter-spacing: 1.5rem;
    font-size: 4.5rem;
    line-height: 5.2rem;
}
#roles{
    font-size: 1.3rem;
    letter-spacing: .2rem;
    line-height: 2rem;
}
#explore{
    background-color: #F3EDE9;
    border: none;
}