@font-face {
    font-family: helveticabold;
    src: url(/fonts/helvetica-w01-bold.ttf);
}
@font-face {
    font-family: helveticalight;
    src: url(/fonts/helvetica-w01-light.ttf);
}
:root {
    --background:#000;
    --main-text:#F3EDE9;
    --head-text:#FFFFFF;
    --pink-gradient:linear-gradient(to right, #DE42E5, #CD32C4);
    --pink-color:#CD32C4;
    --blue-cursor-color:#3F4776;
    --cursor-gradient:radial-gradient(circle closest-side, #CD32C4, #3F4776, #3F4776, #3F4776, transparent);
    --image-shadow-color:#F3EDE9AA;
    --blue-yellow-gradient:linear-gradient(to right bottom, #365163, #635536);
    --green-gradient:linear-gradient(to right bottom, #6E8464, #2B5135);
    --blue-black-gradient:linear-gradient(to left bottom, #434B66, #000);
}
body {
    font-family: helveticalight;
    color: var(--main-text);
    cursor: none;
    background-color: var(--background);
}
a {
    text-decoration: none;
    color: var(--main-text);
}
a:hover {
    text-decoration: none;
    color: var(--main-text);
    cursor: none!important;
}
ul{
    list-style-type: none;
    padding: 0%;
}
input , textarea {
    cursor: none;
}
input:focus-visible , textarea:focus-visible {
    outline: none;
    cursor: none;
}
label, button, button:hover, button:not(:disabled), [type=submit]:not(:disabled), [type=reset]:not(:disabled), [type=button]:not(:disabled) {
    cursor: none;
}
input:-internal-autofill-selected {
    background: none!important;
    background-color: transparent !important;
    background-image: none !important;
    color: var(--main-text) !important;
    border: 3px solid var(--main-text) !important;
    appearance: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
}
#home {
    /* background-image: url(/static/images/homebg.jfif); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* filter: brightness(50%); */
    position: relative;
    color: var(--head-text);
}
#home2 {
    backdrop-filter: brightness(70%);
    padding: 0px 20%;
}
#c {
    z-index: -999;
    position: absolute;
}

.navbar {
    background-color: transparent!important;
    border: none!important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(20px) brightness(80%);
    /* padding: 1% 10%; */
}
.navbar-nav{
    flex-grow: 1!important;
}
.nav-link {
    /* border: 3px solid transparent; */
    padding-right: 5%!important;
    padding-left: 5%!important;
    /* border-width: 0px 0px 3px 0px; */
    /* transition: all 0.3s ease; */
    position: relative;
    color: var(--main-text);
}
.nav-link:hover, .nav-link:focus {
    /* border-color: var(--pink-color); */
    color: var(--main-text);
    cursor: none!important;
}
i {
    color: var(--main-text);
}
.nav-link::after, #top-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-image: var(--pink-gradient);
    transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); /* ease-out-back */
}
.nav-link:hover::after, #top-name:hover::after, #top-name:focus::after  , .nav-link:focus::after {
    transform: scaleX(1);
    width: 100%;
}

#top-name {
    font-family: helveticabold;
    font-size: 1.2rem;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}
#explore {
    color: var(--head-text);
    border-color: var(--head-text);
}
#home-text{
    filter: brightness(200%);
}
.bighead{
    color: var(--head-text);
    font-family: helveticabold;
    /* font-size: 4rem; */
    z-index: 1;
    /* letter-spacing: 1rem; */
    /* line-height: 4rem; */
}
@media (min-width: 768px) {
    .bighead{
        font-size: 4rem;
        letter-spacing: 1rem;
        line-height: 4rem;
    }
    #roles {
        font-size: 1.3rem!important;
    }
}
@media (min-width: 1280px) {
    .bighead{
        font-size: 5rem;
        letter-spacing: 1.5rem;
        line-height: 5rem;
    }
    #roles {
        font-size: 1.5rem!important;
    }
}
@media (max-width: 768px) {
    .bighead{
        font-size: 3rem;
        letter-spacing: 0.7rem;
        line-height: 3rem;
    }
}
@media (max-width: 576px) {
    .bighead{
        font-size: 2rem;
        letter-spacing: 0.5rem;
        line-height: 2rem;
    }
}

.button {
    color: var(--main-text);
    background-color: transparent;
    border: 3px solid var(--main-text);
    padding: 1% 10%;
}
/* .button:hover , .button:focus {
    color: #000;
    background-image: linear-gradient(to right, #94258f, #c139c9);
    border: 3px solid #94258f;
    font-weight: bolder;
} */


#works {
    height: auto;
}
#libraryapi {
    background-image: var(--blue-yellow-gradient);
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
}
#libraryimg {
    /* border : 1px solid #F3EDE9; */
    border-radius: .3rem;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    /* border-width: 1px 0px 1px 1px; */
    box-shadow: 0px 5px 25px var(--image-shadow-color), -5px -5px 25px var(--image-shadow-color), 0px 5px 25px var(--image-shadow-color);
}

.ls-n {
    letter-spacing: normal;
}



#contact {
    /* background-color: #000; */
    height: auto;
}

#pizza {
    height: auto;
    overflow-y: visible;
}

#networkimg1 {
    border-radius: .3rem;
    box-shadow: 0px 10px 25px var(--image-shadow-color);
}

#network {
    background-image: var(--green-gradient);
}

#about {
    background-image: var(--blue-black-gradient);
    min-height: 100vh;
}

.toolicon {
    width: 60px;
}

.pizzaimgs {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.pizzaimgs::-webkit-scrollbar {
    display: none;
}
.pizzaimg {
    /* width: 360px; */
    border-radius: 0.3rem;
    transition: all 1s cubic-bezier(0.34, 1.56, 0.64, 1) 1s; /* ease-out-back */
}
.pizzaimg:hover {
    transform: translateX(-20px) translateX(20px);
}

.pgimg {
    border-radius: .3rem;
}

#pgimg1 {
    box-shadow: -10px 10px 25px var(--image-shadow-color);
}
#pgimg2 {
    box-shadow: 10px 10px 25px var(--image-shadow-color);
}

#cursor {
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    mix-blend-mode: screen;
    pointer-events: none;
}
.cursorhide:-webkit-any-link, .cursorhide:-webkit-any-link:hover, .cursorhide:-webkit-any-link:focus, .cursorhover:-webkit-any-link, .cursorhover:-webkit-any-link:hover, .cursorhover:-webkit-any-link:focus {
    cursor: none!important;
}
.contacticon {
    border-radius: 0.3rem;
}
#light-mode:hover {
    color: var(--pink-color);
}