@font-face {
    font-family: helveticabold;
    src: url(/fonts/helvetica-w01-bold.ttf);
}
@font-face {
    font-family: helveticalight;
    src: url(/fonts/helvetica-w01-light.ttf);
}
body {
    font-family: helveticalight;
    color: #F3EDE9!important;
}
a {
    text-decoration: none;
    color: #F3EDE9!important;
}
a:hover {
    text-decoration: none;
    color: #F3EDE9!important;
}
#home {
    background-image: url(/static/images/homebg.jfif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* filter: brightness(50%); */
    position: relative;
}
#home2 {
    backdrop-filter: brightness(50%);
    padding: 0px 20%;
}

.navbar {
    background-color: transparent!important;
    border: none!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* padding: 1% 10%; */
}
.navbar-nav{
    flex-grow: 1!important;
}
.nav-link {
    color: #F3EDE9;
    border: 3px solid #F3EDE9;
    border-width: 0px;
    padding-right: 5%!important;
    padding-left: 5%!important;
}
i {
    color: #F3EDE9;
}

.nav-link:hover, .nav-link:focus {
    color: #F3EDE9;
    text-decoration: none;
    border-width: 0px 0px 3px 0px;
}

#top-name {
    font-family: helveticabold;
    font-size: 1.2rem;
    color: #F3EDE9;
    z-index: 1;
}
#home-text{
    filter: brightness(200%);
}
.bighead{
    font-family: helveticabold;
    /* font-size: 4rem; */
    z-index: 1;
    /* letter-spacing: 1rem; */
    /* line-height: 4rem; */
}
@media (min-width: 768px) {
    .bighead{
        font-size: 4rem;
        letter-spacing: 1rem;
        line-height: 4rem;
    }
    #roles {
        font-size: 1.3rem!important;
    }
}
@media (max-width: 768px) {
    .bighead{
        font-size: 3rem;
        letter-spacing: 0.7rem;
        line-height: 3rem;
    }
}
@media (max-width: 576px) {
    .bighead{
        font-size: 2rem;
        letter-spacing: 0.5rem;
        line-height: 2rem;
    }
}

.button {
    color: #F3EDE9;
    background-color: transparent;
    border: 3px solid #F3EDE9;
    padding: 1% 10%;
}
.button:hover , .button:focus {
    color: #000;
    background-color: #F3EDE9;
    font-weight: bolder;
}


#works {
    height: auto;
    background-image: linear-gradient(to bottom, #616366, #2E2E31);
    color: #F3EDE9;
}
#libraryapi {
    background-image: linear-gradient(to right bottom, #365163,#635536);
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
}
#libraryimg {
    border : 2px solid #3B3B3B;
    border-radius: .7rem;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-width: 2px 0px 2px 2px;
    box-shadow: 0px 5px 25px #f3ede966, -5px -5px 25px #F3EDE966, 0px 5px 25px #F3EDE966;
}

.ls-n {
    letter-spacing: normal;
}