@font-face {
    font-family: helveticabold;
    src: url(/fonts/helvetica-w01-bold.ttf);
}
@font-face {
    font-family: helveticalight;
    src: url(/fonts/helvetica-w01-light.ttf);
}
body {
    font-family: helveticalight;
    color: #F3EDE9!important;
    cursor: none;
}
a {
    text-decoration: none;
    color: #F3EDE9!important;
}
a:hover {
    text-decoration: none;
    color: #F3EDE9!important;
    cursor: none!important;
}
ul{
    list-style-type: none;
    padding: 0%;
}
input , textarea {
    cursor: none;
}
input:focus-visible , textarea:focus-visible {
    outline: none;
    cursor: none;
}
label, button, button:hover, button:not(:disabled), [type=submit]:not(:disabled), [type=reset]:not(:disabled), [type=button]:not(:disabled) {
    cursor: none;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
    background-image: none !important;
    color: #F3EDE9 !important;
    border: 3px solid #F3EDE9 !important;
    appearance: none!important;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
}
#home {
    /* background-image: url(/static/images/homebg.jfif); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* filter: brightness(50%); */
    position: relative;
}
#home2 {
    backdrop-filter: brightness(50%);
    padding: 0px 20%;
}
#c {
    z-index: -999;
    position: absolute;
}

.navbar {
    background-color: transparent!important;
    border: none!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* padding: 1% 10%; */
}
.navbar-nav{
    flex-grow: 1!important;
}
.nav-link {
    color: #F3EDE9;
    /* border: 3px solid transparent; */
    padding-right: 5%!important;
    padding-left: 5%!important;
    /* border-width: 0px 0px 3px 0px; */
    transition: all 0.3s ease;
    position: relative;
}
i {
    color: #F3EDE9;
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-image: linear-gradient(to right, #DE42E5, #CD32C4);
    transition: all 0.3s ease;
}
.nav-link:hover::after, .nav-link:focus::after {
    transform: scaleX(1);
    width: 100%;
}

#top-name {
    font-family: helveticabold;
    font-size: 1.2rem;
    color: #F3EDE9;
    z-index: 1;
}
#home-text{
    filter: brightness(200%);
}
.bighead{
    font-family: helveticabold;
    /* font-size: 4rem; */
    z-index: 1;
    /* letter-spacing: 1rem; */
    /* line-height: 4rem; */
}
@media (min-width: 768px) {
    .bighead{
        font-size: 4rem;
        letter-spacing: 1rem;
        line-height: 4rem;
    }
    #roles {
        font-size: 1.3rem!important;
    }
}
@media (min-width: 1280px) {
    .bighead{
        font-size: 5rem;
        letter-spacing: 1.5rem;
        line-height: 5rem;
    }
    #roles {
        font-size: 1.5rem!important;
    }
}
@media (max-width: 768px) {
    .bighead{
        font-size: 3rem;
        letter-spacing: 0.7rem;
        line-height: 3rem;
    }
}
@media (max-width: 576px) {
    .bighead{
        font-size: 2rem;
        letter-spacing: 0.5rem;
        line-height: 2rem;
    }
}

.button {
    color: #F3EDE9;
    background-color: transparent;
    border: 3px solid #F3EDE9;
    padding: 1% 10%;
}
/* .button:hover , .button:focus {
    color: #000;
    background-image: linear-gradient(to right, #94258f, #c139c9);
    border: 3px solid #94258f;
    font-weight: bolder;
} */


#works {
    height: auto;
    /* background-image: linear-gradient(to bottom, #616366, #1D1D1D); */
    background-color: #000;
    color: #F3EDE9;
}
#libraryapi {
    background-image: linear-gradient(to right bottom, #365163,#635536);
    height: auto;
    overflow-x: hidden;
    overflow-y: visible;
}
#libraryimg {
    /* border : 1px solid #F3EDE9; */
    border-radius: .7rem;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    /* border-width: 1px 0px 1px 1px; */
    box-shadow: 0px 5px 25px #f3ede9AA, -5px -5px 25px #F3EDE9AA, 0px 5px 25px #F3EDE9AA;
}

.ls-n {
    letter-spacing: normal;
}



#contact {
    background-color: #000;
}

#pizza {
    height: auto;
    overflow-y: visible;
}

#networkimg1 {
    border-radius: .3rem;
    box-shadow: 0px 10px 25px #f3ede9AA;
}

#network {
    background-image: linear-gradient(to right bottom, #6E8464,#2B5135);
}

#about {
    background-image: linear-gradient(to left bottom, #434B66,#000);
    min-height: 100vh;
}

.toolicon {
    width: 60px;
}

.pizzaimgs {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.pizzaimgs::-webkit-scrollbar {
    display: none;
}
.pizzaimg {
    width: 360px;
    border-radius: 0.3rem;
}

.pgimg {
    border-radius: .3rem;
}

#pgimg1 {
    box-shadow: -10px 10px 25px #F3EDE9AA;
}
#pgimg2 {
    box-shadow: 10px 10px 25px #F3EDE9AA;
}





#cursor {
    opacity: 0;
    position: fixed;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle closest-side, #CD32C4, transparent);
    border-radius: 50%;
    top: -15px;
    left: -15px;
    /* z-index: 2; */
    mix-blend-mode: screen;
    pointer-events: none;
    /* box-shadow: 5px 5px 20px #CD32C4, -5px -5px 20px #CD32C4, -5px 5px 20px #CD32C4, 5px -5px 20px #CD32C4, 0px 5px 20px #CD32C4, 0px -5px 20px #CD32C4, 5px 0px 20px #CD32C4, -5px 0px 20px #CD32C4, 5px 0px 20px #CD32C4; */
    transition: 2s;
    transform: translate(0px, 0px); 
}
.cursorhide:-webkit-any-link, .cursorhide:-webkit-any-link:hover, .cursorhide:-webkit-any-link:focus, .cursorhover:-webkit-any-link, .cursorhover:-webkit-any-link:hover, .cursorhover:-webkit-any-link:focus {
    cursor: none!important;
}
.contacticon {
    border-radius: 0.3rem;
}